<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Comment</title>
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/comment.css">
</head>

<body>
<header class="uni-site-header">
    <div class="header-location">
        <div class="header-logo">
            <a href="Home.html" class="logo-a-lable"></a>
        </div>
        <nav class="header-navigation">
            <ul>
                <li class="navigation-li-lable">
                    <a href="Map.html" class="navigation-a-lable">高校地图</a>
                </li>
                <li class="navigation-li-lable">
                    <a href="" class="navigation-a-lable">加入大家</a>
                </li>
            </ul>
        </nav>
        <div class="header-searchbox">
            <input type="text" class="header-search" placeholder="搜索其他帖子或者关键字">
            <input type="submit" class="header-submit" value>
        </div>
    </div>
</header>
<main class="comment-site-main">
	<div class="main-up">
    	<div class="up-background active"></div>
        <div class="up-title active">
        	<h1 class="title-h1-lable">校园交流区</h1>
            <p class="title-p-lable active">若是您是在校大学生，可在这分享您在大学的点点滴滴。若您是准大学生，可以在这了解心仪大学前辈们的生活。</p>
        </div>
    </div>
    <div class="main-left">
    	<div class="left-search">
        	<input type="text" class="select-search" placeholder="搜索城市">
        </div>
        <div class="left-select">
        	<ul>
        		<li class="select-li-lable">
        			<div class="select-province">
                    	<span class="province-name-ch">江西省</span>
                        <span class="province-name-en">JiangXi</span>
                        <div class="province-icon"></div>
                    </div>
        			<div class="select-school">
        				<div class="school-name">江西师范大学 - 瑶湖</div>
        				<div class="school-name">江西师范大学 - 老校</div>
        				<div class="school-name">南昌大学 - 前湖</div>
        				<div class="school-name">南昌大学 - 老校</div>
        				<div class="school-name">华东交通大学</div>
                        <div class="school-name">财经大学</div>
        			</div>
        		</li>
        		<li class="select-li-lable">
        			<div class="select-province">
                    	<span class="province-name-ch">四川省</span>
                        <span class="province-name-en">SiChuan</span>
                        <div class="province-icon"></div>
                    </div>
        			<div class="select-school">
        				<div class="school-name">四川大学</div>
        				<div class="school-name">西南交通大学</div>
        				<div class="school-name">西南财经大学</div>
        			</div>
        		</li>
        		<li class="select-li-lable">
        			<div class="select-province">
                    	<span class="province-name-ch">浙江省</span>
                        <span class="province-name-en">ZheJiang</span>
                        <div class="province-icon"></div>
                    </div>
        			<div class="select-school">
        				<div class="school-name">浙江大学</div>
        				<div class="school-name">浙江师范大学</div>
        				<div class="school-name">宁波大学</div>
        			</div>
        		</li>
        		<li class="select-li-lable">
        			<div class="select-province">
                    	<span class="province-name-ch">广东省</span>
                        <span class="province-name-en">GuangDong</span>
                        <div class="province-icon"></div>
                    </div>
        			<div class="select-school">
        				<div class="school-name">中山大学</div>
        				<div class="school-name">暨南大学</div>
        				<div class="school-name">深圳大学</div>
        			</div>
        		</li>
        		<li class="select-li-lable">
        			<div class="select-province">
                    	<span class="province-name-ch">湖南省</span>
                        <span class="province-name-en">HuNan</span>
                        <div class="province-icon"></div>
                    </div>
        			<div class="select-school">
        				<div class="school-name">中南大学</div>
        				<div class="school-name">湖南大学</div>
        				<div class="school-name">湖南师范大学</div>
        			</div>
        		</li>
        		<li class="select-li-lable">
        			<div class="select-province">
                    	<span class="province-name-ch">湖北省</span>
                        <span class="province-name-en">HuBei</span>
                        <div class="province-icon"></div>
                    </div>
        			<div class="select-school">
        				<div class="school-name">武汉大学</div>
        				<div class="school-name">华中师范大学</div>
        				<div class="school-name">湖北大学</div>
        			</div>
        		</li>
        	</ul>
        </div>
    </div>
    <div class="main-right">
    	<div class="right-toggle">
        	<ul>
        		<li class="toggle-li-lable"><span class="toggle-span-lable active">最新发布</span></li>
        		<li class="toggle-li-lable"><span class="toggle-span-lable">热门帖子</span></li>
        		<li class="toggle-li-lable"><span class="toggle-post">发布帖子</span></li>
        	</ul>
        </div>
        <div class="right-posts">
        	<ul>
        		<li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">君から見た僕はきっと ただの友達の友達 たかが知人Bにむけられた 笑顔があれならもう 恐ろしい人だ</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">高岭的花子小姐</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
        		<li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">君から見た僕はきっと ただの友達の友達 たかが知人Bにむけられた 笑顔があれならもう 恐ろしい人だ</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">高岭的花子小姐</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
        		<li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">君から見た僕はきっと ただの友達の友達 たかが知人Bにむけられた 笑顔があれならもう 恐ろしい人だ</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">高岭的花子小姐</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
        		<li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">今このときも　繋がっているよ 離れていても 繋がっているよ 何があっても</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">公路电影</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
        		<li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">今このときも　繋がっているよ 離れていても 繋がっているよ 何があっても</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">公路电影</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
                <li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">今このときも　繋がっているよ 離れていても 繋がっているよ 何があっても</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">公路电影</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
                <li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">雨落也无声 风过也无痕 悲伤不敢声明怕扰乱气氛</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">惊天动地</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
                <li class="posts-li-lable">
        			<div class="posts-head">
                    	<img src="assets/img/university-head.jpg" alt="" class="head-img-lable">
                    </div>
        			<div class="posts-summary">
        				<a href="Topic.html" class="summary-title">雨落也无声 风过也无痕 悲伤不敢声明怕扰乱气氛</a>
        				<div class="summary-meta">	
                        	<div class="meta-autor">
                        		<div class="meta-username">惊天动地</div>
                        		<time class="meta-time">2017-06-02 14:00:00</time>
                        	</div>
                            <div class="meta-situation">
                            	<div class="situation-answer">100</div>
                            	<div class="situation-view">3</div>
                            </div>
                        </div>
        			</div>
        		</li>
        	</ul>
        </div>
    </div>
    <div class="main-suspension" data-mode="user">
    	<ul>
    		<li class="suspension-li-lable">
            	<div class="suspension-userhead">
                	<img src="assets/img/university-head.jpg" alt="" class="userhead-img-lable">
                </div>
                <div class="suspension-userpop-forhover">
                    <div class="suspension-userpop">
                    	<div class="userpop-userinfo">
                    		<img src="assets/img/university-head.jpg" alt="" class="userinfo-img-lable">
                   			<div class="userinfo-div-lable">
                    			<span class="userinfo-span-lable">高岭的花子小姐</span>
                    		</div> 
                    	</div>
                	</div>
                </div>
            </li>
    		<li class="suspension-li-lable">
            	<div class="suspension-menu">
                	<div class="menu-div-lable"></div>
                </div>
                <div class="suspension-menupop-forhover">
                	<div class="suspension-menupop">
                    	<ul class="menupop-visitor">
                    		<li class="menupop-li-lable"></li>
                    		<li class="menupop-li-lable"></li>
                    	</ul>
                        <ul class="menupop-user">
                        	<li class="menupop-li-lable">
                            	<a href=""class="menupop-a-lable">个人中心</a>
                               	<div class="menupop-div-lable"></div>
                            </li>
                        	<li class="menupop-li-lable">
                            	<a href=""class="menupop-a-lable">编辑资料</a>
                                <div class="menupop-div-lable"></div>
                            </li>
                        	<li class="menupop-li-lable">
                            	<a href=""class="menupop-a-lable">回复我的</a>
                                <div class="menupop-div-lable"></div>
                            </li>
                        	<li class="menupop-li-lable">
                            	<a href=""class="menupop-a-lable">退出登录</a>
                                <div class="menupop-div-lable"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
    		<li class="suspension-li-lable">
            	<div class="suspension-backtop"></div>
            </li>
    	</ul>
    </div>
</main>

</body>
<script src="assets/js/jquery-3.1.1.min.js"></script>
<script src="assets/js/comment.js" type="text/javascript"></script>
</html>
	