    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Topic</title>
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/topic.css">
</head>
<body>
<header class="uni-site-header">
    <div class="header-location">
        <div class="header-logo">
            <a href="Home.html" class="logo-a-lable"></a>
        </div>
        <nav class="header-navigation">
            <ul>
                <li class="navigation-li-lable">
                    <a href="comment.html" class="navigation-a-lable">高校探讨</a>
                </li>
                <li class="navigation-li-lable">
                    <a href="" class="navigation-a-lable">加入大家</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="topic-site-main">
    <div class="main-title">
        <div class="title-schoolinfo">
            <img src="assets/img/school-badge.png" alt="" class="schoolinfo-schoolbadge">
            <div class="schoolinfo-schoolname">
                <span class="schoolinfo-schoolname-span">江西师范大学</span>
            </div>
        </div>
        <div class="title-heading">
            <h1 class="title-heading-h1">昨天我不小心掉静湖里去了！</h1>
        </div>
        <div class="title-content">
            <div class="content-authorface">
                <img src="assets/img/university-head.jpg" alt="" class="content-authorface-img">
            </div>
            <div class="content-authorname">高岭的花子小姐</div>
            <div class="content-description">
                <div class="content-description-div">和里面的鸭子、鸳鸯、天鹅度过了一段欢乐的时光，湖里充满了活跃的气氛 和里面的鸭子、鸳鸯、天鹅度过了一段欢乐的时光，湖里充满了活跃的气氛和里面的鸭子、鸳鸯、天鹅度过了一段欢乐的时光，湖里充满了活跃的气氛和里面的鸭子、鸳鸯、天鹅度过了一段欢乐的时光，湖里充满了活跃的气氛</div>
            </div>
        </div>
        <div class="title-situation">
            <span class="situation-answer">4</span>
            <span class="situation-view">100</span>
            <span class="situation-time">2017-06-02 14:00:00</span>
        </div>
    </div>
    <div class="main-replies">
        <ul>
            <li class="replies-list-li" data-id="1">
                <div class="list-left-userface">
                    <img src="assets/img/university-head-2.jpg" alt="" class="list-userface-img">
                </div>
                <div class="list-right-userinfo">
                    <div class="list-userinfo-head">
                        <span class="userinfo-username-span">公路电影</span>
                        <span class="userinfo-topictime-span">2017-06-02 14:00:00</span>
                    </div>
                    <div class="list-userinfo-content">   
                        <p class="userinfo-useropinion-p">红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈</p>
                    </div>
                </div>
            </li>
            <li class="replies-list-li" data-id="2">
                <div class="list-left-userface">
                    <img src="assets/img/university-head-2.jpg" alt="" class="list-userface-img">
                </div>
                <div class="list-right-userinfo">
                    <div class="list-userinfo-head">
                        <span class="userinfo-username-span">公路电影</span>
                        <span class="userinfo-topictime-span">2017-06-02 14:00:00</span>
                    </div>
                    <div class="list-userinfo-content">
                        <p class="userinfo-useropinion-p"><span class="userinfo-useropinion-span" data-id="1">公路电影</span>红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈</p>
                    </div>
                </div>
            </li>
            <li class="replies-list-li" data-id="3">
                <div class="list-left-userface">
                    <img src="assets/img/university-head-2.jpg" alt="" class="list-userface-img">
                </div>
                <div class="list-right-userinfo">
                    <div class="list-userinfo-head">
                        <span class="userinfo-username-span">公路电影</span>
                        <span class="userinfo-topictime-span">2017-06-02 14:00:00</span>
                    </div>
                    <div class="list-userinfo-content">
                        <p class="userinfo-useropinion-p">红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈</p>
                    </div>
                </div>
            </li>
            <li class="replies-list-li" data-id="4">
                <div class="list-left-userface">
                    <img src="assets/img/university-head-2.jpg" alt="" class="list-userface-img">
                </div>
                <div class="list-right-userinfo">
                    <div class="list-userinfo-head">
                        <span class="userinfo-username-span">公路电影</span>
                        <span class="userinfo-topictime-span">2017-06-02 14:00:00</span>
                    </div>
                    <div class="list-userinfo-content">
                        <p class="userinfo-useropinion-p">红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈 红红火火恍恍惚惚含含糊糊霍霍霍霍哈哈哈哈哈</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="replies-replybox">
            <div class="replybox-userinfo">
                <img src="assets/img/university-head.jpg" alt="" class="replybox-userinfo-img">
                <span class="replybox-userinfo-username">高岭的花子小姐</span>
                <h1 class="replybox-userinfo-note">真的不说点什么嘛？</h1>
            </div>
        </div>
        <div class="replies-postbox">
            <div class="postbox-container">
                <div class="postbox-container-size">
                    <div class="container-edit-box">
                        <div class="container-edit-left">
                            <img src="assets/img/university-head.jpg" alt="" class="edit-userface-img">
                        </div>
                        <div class="container-edit-right">
                            <span class="edit-topictitle">昨天我不小心掉静湖里去了！</span>
                            <textarea name="" id="" class="edit-editbox" placehold="大声告诉他你爱他.."></textarea>
                        </div>
                    </div>
                    <div class="container-submit-box">
                        <input type="button" class="container-submit-input" value="发表">
                    </div>
                    <div class="container-close-box"></div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="assets/js/topic.js" type="text/javascript"></script>


</html>